body {
  background-color: beige;
}

h2 {
    color: blue;
    font-size: 3em;
  }
  p {
    color: red; 
  
    list-style-type: space-counter;
  }
  ul {
    list-style-type: square
  }
   /*   @counter-style thumbs {
 symbols: "\1F44D"
  }
  ul{
    list-style-type: thumbs

  }*/

  .special {
    color: orange;
    font-weight: bold;
  }